<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Test on [Chrome]" >
        <parameter name="selenium.browser" value="chrome"/>
        <classes>
            <class name="automation.tests.OrderTest" />
        </classes>
    </test>
    <test name="Test on [Firefox]" >
        <parameter name="selenium.browser" value="firefox"/>
        <classes>
            <class name="automation.tests.OrderTest" />
        </classes>
    </test>
    <test name="Test on [IE]" >
        <parameter name="selenium.browser" value="internet explorer"/>
        <classes>
            <class name="automation.tests.OrderTest" />
        </classes>
    </test>
    <test name="Test on headless chrome" >
        <parameter name="selenium.browser" value="headless-chrome"/>
        <classes>
            <class name="automation.tests.OrderTest" />
        </classes>
    </test>
    <test name="Test on headless firefox" >
        <parameter name="selenium.browser" value="headless-firefox"/>
        <classes>
            <class name="automation.tests.OrderTest" />
        </classes>
    </test>
    <test name="Test on mobile browser" >
        <parameter name="selenium.browser" value="mobile"/>
        <classes>
            <class name="automation.tests.OrderTest" />
        </classes>
    </test>

</suite>